h1{
	font-size: 2rem;
    padding: 0rem 0rem;
	color: rgb(0, 0, 0);
	animation-duration: 1.8s;
	animation-name: slidein;
  }
  
  @keyframes slidein {
	from {
	  margin-left: 100%;
	  width: 300%;
	}
  
	to {
	  margin-left: 0%;
	  width: 100%;
	}
}
p {
	font-size: 1.2rem;
    padding: 0rem 1.3rem;
	margin: 15px 1px;
    text-align: justify;
}
p {
	animation-duration: 2s;
	animation-name: slidein;
  }
  
  @keyframes slidein {
	from {
	  margin-left: 100%;
	  width: 300%;
	}
  
	to {
	  margin-left: 0%;
	  width: 100%;
	}
  }
  img{
      border-radius: 40px;
      height: 200px;
      width: 300px;
      object-fit: cover;
}
  .img {
    animation-duration: 2s;
    animation-name: slidein;
  }

	  @keyframes slidein {
		from {
		  margin-left: 100%;
		  width: 300%;
		}
	  
		to {
		  margin-left: 0%;
		  width: 100%;
		}
}
.contenido{
    display: flex;
    margin: 40px 0px;
}
.articulos{
    width: 80%;
    height: 60%;
    border-right: 4px solid rgb(0, 0, 0);
    animation-duration: 2s;
	animation-name: slidein;
  }  
  @keyframes slidein {
	from {
	  margin-left: 100%;
	  width: 300%;
	}
  
	to {
	  margin-left: 0%;
	  width: 100%;
	}
  }
.secciones{
    display: flex;
    align-items: center;
    padding: 40px;
}
.menu-secundario{
    width: 20%;
    margin-top: 60px;
    animation-duration: 2s;
	animation-name: slidein;
  }
  
  @keyframes slidein {
	from {
	  margin-left: 100%;
	  width: 300%;
	}
  
	to {
	  margin-left: 0%;
	  width: 100%;
	}
  }
  footer {
      width: 125.4%;
      height: 300px;
      background-color: rgb(0, 0, 0);
      color: white;
  }
  footer p {
      text-align: center;
  }
  
	to {
	  margin-left: 0%;
	  width: 100%;
	}
  }
  img{
      border-radius: 40px;
      height: 200px;
}

  .img {
    animation-duration: 2s;
    animation-name: slidein;
  }

	  @keyframes slidein {
		from {
		  margin-left: 100%;
		  width: 300%;
		}
	  
		to {
		  margin-left: 0%;
		  width: 100%;
		}
}
